<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtek.admin.biz.dao.BizGroupQuoteProjectConfigureDao">

	<resultMap id="BaseResultMap" type="com.teamtek.admin.biz.entity.BizGroupQuoteProjectConfigure">
		<id column="id" property="id" />
		<result column="rule_detail_id" property="ruleDetailId" />
		<result column="zone_id" property="zoneId" />
	</resultMap>

</mapper>
